<th:block th:if="${courses.id == null}">
	<div class="hero">
	<h1>Thêm một khóa học mới!</h1>
	<p>Chia sẻ kiến thức của bạn thông qua khóa học.</p>
</div>
</th:block>
<th:unless th:if="${courses.id}">
<div class="hero">
	<h1>Cập nhật khóa học!</h1>
	<p>Chỉnh sửa để khóa học trở nên thu hút học viên hơn.</p>
</div>
</th:unless>

<div class="add-courses r-content">
	<form th:action="@{'/lecturer/khoa-hoc/them-moi'}" method="post" th:object="${courses}" enctype="multipart/form-data" autocomplete="off">
		<div class="message">Hoàn thiện thông tin dưới đây để ra mắt
			khóa học</div>
			<input type="hidden" th:field="*{id}" >
			<input type="hidden" th:field="*{status}" >
		<div class="form-group">
			<div class="label">
				Tên khóa học <span class="not-empty">*</span>
			</div>
			<div class="input">
				<input type="text" th:field="*{name}" required="required">
			</div>
		</div>
		<div class="form-group">
			<div class="label">
				Lĩnh vực, chuyên ngành <span class="not-empty">*</span>
			</div>
			<div class="input">
				<input type="text" th:field="*{area}" required="required">
			</div>
		</div>
		<div class="form-group">
			<div class="label">
				Mô tả ngắn <span class="not-empty">*</span>
			</div>
			<div class="input">
				<input type="text" th:field="*{shortDescription}" required="required">
			</div>
		</div>
		<div class="form-group">
			<div class="label">
				Loại <span class="not-empty">*</span>
			</div>
			<div class="input">
				<select id="course-type" onchange="togglePaymentFields(this)" th:field="*{type}">
					<option value="free">Miễn phí</option>
					<option value="paid">Trả phí</option>
				</select>
			</div>
		</div>
		<div id="payment-fields">
			<div class="form-group">
				<div class="label">
					Giá gốc <span class="not-empty">*</span>
				</div>
				<div class="input">
					<input type="number" onkeydown="checkInputNumber(event)"
						id="oldPrice" oninput="toNewPrice(this)" th:field="*{oldPrice}" onchange="checkInputNumberHasValue(this)"> <br> 
						<small id="oldPriceTxt"></small>
				</div>
			</div>
			<div class="form-group">
				<div class="label">Giảm giá</div>
				<div class="input">
					<input type="number" onkeydown="checkInputNumber(event)"
						id="discount" oninput="toNewPrice(this)" th:field="*{discount}" onchange="checkInputNumberHasValue(this)"> <br> <small
						id="discountTxt"></small>
				</div>
			</div>
			<div class="form-group">
				<div class="label">Giá mới</div>
				<div class="input">
					<input type="number" readonly id="newPrice" th:field="*{newPrice}" onchange="checkInputNumberHasValue(this)" > <br> <small
						id="newPriceTxt"></small>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="label">
				Hình ảnh <span class="not-empty">*</span>
			</div>
			<div class="input">
				<th:block th:if="*{id == null}">
					<input type="file" onchange="addCoursesChangeImage(this)" name="imageFile" id="inputImage" accept="image/*" required>
				</th:block>
				<th:block th:if="*{id != null}">
					<input type="file" onchange="addCoursesChangeImage(this)" name="imageFile" id="inputImage" accept="image/*" >
				</th:block>
			</div>
		</div>
		<div class="form-group">
			<div class="label">
				Mô tả chi tiết <span class="not-empty">*</span>
			</div>
		</div>
		<div class="form-group">
			<div class="input">
				<textarea name="" id="addDescCourses" th:field="*{description}"></textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="input">
				<input type="submit" class="btn btn-primary" value="Xác nhận">
			</div>
		</div>
		<div class="image-choosed">

				<img th:src="@{'/img/courses_lesson/' + *{image}}" alt="" id="imageChoosed">
	
		</div>
	</form>
</div>

<script th:if="${param.failed}" th:inline="javascript">

	 document.addEventListener('DOMContentLoaded', function() {
		 setTimeout( ()=>{
			
			const Toast =  Swal.mixin({
				
				  toast: true,
				  position: "top-end",
				  showConfirmButton: false,
				  timer: 1800,
				  timerProgressBar: true,
				  didOpen: (toast) => {
				    toast.onmouseenter = Swal.stopTimer;
				    toast.onmouseleave = Swal.resumeTimer;
				  }
				});
				 Toast.fire({
				  icon: "error",
				  title: "Đã xảy ra lỗi khi thêm khóa học, hãy thử lại"
				});
				
			}, 800)
	    });
</script>
