<div class="hero">
	<h1>Xin chào, Giảng viên!</h1>
	<p>Hãy quản lý và chia sẻ kiến thức của bạn với học viên của mình.</p>
</div>
<div class="statistics">
	<div class="row r-content">
		<div class="list">
			<div class="item">
				<div class="content">
					<img src="statistics_courses.png" alt="">
					<p class="title">Khóa học</p>
					<p class="value">10</p>
				</div>
			</div>
			<div class="item">
				<div class="content">
					<img src="statistics_students.png" alt="">
					<p class="title">Học viên</p>
					<p class="value">999999999</p>
				</div>
			</div>
			<div class="item">
				<div class="content">
					<img src="statistics_certificate.png" alt="">
					<p class="title">Chứng chỉ đã cấp</p>
					<p class="value">100</p>
				</div>
			</div>
		</div>
		<div class="list">
			<div class="item">
				<div class="content">
					<img src="statistics_money.png" alt="">
					<p class="title">Tổng Doanh thu</p>
					<p class="value">+ 999999999</p>
				</div>
			</div>
			<div class="item">
				<div class="content">
					<img src="statistics_withdraw.png" alt="">
					<p class="title">Số tiền đã rút</p>
					<p class="value">+ 999999999</p>
				</div>
			</div>
			<div class="item">
				<div class="content">
					<img src="statistics_courses.png" alt="">
					<p class="title">Số tiền còn lại</p>
					<p class="value">+ 999999999</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="new-student">
	<div class="r-content">
		<div class="title">Học viên tham gia gần đây</div>
		<div class="list">
			<table>
				<tr>
					<th class="stt">STT</th>
					<th class="name">Họ Và Tên Học Viên</th>
					<th class="courses">Tham gia khóa học</th>
					<th class="time">Thời gian</th>
					<th class="view">Xem</th>
				</tr>
				<tr>
					<td class="stt">1</td>
					<td class="name">Nguyễn Văn A</td>
					<td class="courses">Khóa hỌC ABC</td>
					<td class="time">2024/05/04</td>
					<td class="view"><a href="">Xem</a></td>
				</tr>
				<tr>
					<td class="stt">1</td>
					<td class="name">Nguyễn Văn A</td>
					<td class="courses">Khóa hỌC ABC</td>
					<td class="time">2024/05/04</td>
					<td class="view"><a href="">Xem</a></td>
				</tr>
			</table>
		</div>
	</div>
</div>

<div class="new-student certificate">
	<div class="r-content">
		<div class="title">Học viên được cấp chứng chỉ gia gần đây</div>
		<div class="list">
			<table>
				<tr>
					<th class="stt">STT</th>
					<th class="name">Họ Và Tên Học Viên</th>
					<th class="courses">Khóa học</th>
					<th class="time">Thời gian</th>
					<th class="view">Xem</th>
				</tr>
				<tr>
					<td class="stt">1</td>
					<td class="name">Nguyễn Văn A</td>
					<td class="courses">Khóa hỌC ABC</td>
					<td class="time">2024/05/04</td>
					<td class="view"><a href="">Xem</a></td>
				</tr>
				<tr>
					<td class="stt">1</td>
					<td class="name">Nguyễn Văn A</td>
					<td class="courses">Khóa hỌC ABC</td>
					<td class="time">2024/05/04</td>
					<td class="view"><a href="">Xem</a></td>
				</tr>
				<tr>
					<td class="stt">1</td>
					<td class="name">Nguyễn Văn A</td>
					<td class="courses">Khóa hỌC ABC</td>
					<td class="time">2024/05/04</td>
					<td class="view"><a href="">Xem</a></td>
				</tr>
				<tr>
					<td class="stt">1</td>
					<td class="name">Nguyễn Văn A</td>
					<td class="courses">Khóa hỌC ABC</td>
					<td class="time">2024/05/04</td>
					<td class="view"><a href="">Xem</a></td>
				</tr>
				<tr>
					<td class="stt">1</td>
					<td class="name">Nguyễn Văn A</td>
					<td class="courses">Khóa hỌC ABC</td>
					<td class="time">2024/05/04</td>
					<td class="view"><a href="">Xem</a></td>
				</tr>
				<tr>
					<td class="stt">1</td>
					<td class="name">Nguyễn Văn A</td>
					<td class="courses">Khóa hỌC ABC</td>
					<td class="time">2024/05/04</td>
					<td class="view"><a href="">Xem</a></td>
				</tr>
				<tr>
					<td class="stt">1</td>
					<td class="name">Nguyễn Văn A</td>
					<td class="courses">Khóa hỌC ABC</td>
					<td class="time">2024/05/04</td>
					<td class="view"><a href="">Xem</a></td>
				</tr>
				<tr>
					<td class="stt">1</td>
					<td class="name">Nguyễn Văn A</td>
					<td class="courses">Khóa hỌC ABC</td>
					<td class="time">2024/05/04</td>
					<td class="view"><a href="">Xem</a></td>
				</tr>
				<tr>
					<td class="stt">1</td>
					<td class="name">Nguyễn Văn A</td>
					<td class="courses">Khóa hỌC ABC</td>
					<td class="time">2024/05/04</td>
					<td class="view"><a href="">Xem</a></td>
				</tr>

				<tr>
					<td class="stt">1</td>
					<td class="name">Nguyễn Văn A</td>
					<td class="courses">Khóa hỌC ABC</td>
					<td class="time">2024/05/04</td>
					<td class="view"><a href="">Xem</a></td>
				</tr>
			</table>
		</div>
	</div>
</div>