<!DOCTYPE html>
<html>

<head>
    <title>Trang chủ - Học viên</title>
    <link rel="icon" type="image/x-icon" href="/img/eduhub.jpg">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/web/index.css}">
    <link rel="stylesheet" th:href="@{/css/student_web/student_web.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="eh-container-index">
        <div class="eh-wrap">
            <div class="eh-top-bar">
                <div class="eh-top-nav">
                    <div class="top-menu  r-content">
                        <div class="left-menu">
                            <div class="logo">
                                <a href="">
                                    <img src="/img/eduhub.jpg" alt="">
                                </a>
                            </div>
                            <div id="logo-title">
                                &nbsp;Edu Hub
                            </div>
                        </div>
                        <div class="right-menu">
							<ul>
								<li class="top-menu-item"><a th:href="@{/}">Trang Chủ</a></li>
								<li class="top-menu-item"><a th:href="@{'/quan-ly-ctdt'}">Quản
										lý CTĐT</a></li>
								<li class="top-menu-item"><a th:href="@{'/giang-day'}">Giảng
										dạy</a></li>
								<li class="top-menu-item"><a th:href="@{'/profile/'}">Tài
										khoản của tôi</a> </li>
								<li class="top-menu-item"><a th:href="@{/dang-ky}">Tạo
										tài khoản</a></li>
							</ul>
						</div>
                    </div>
                </div>
            </div>
            <div class="eh-body">
                <div class="container">
                    <nav class="sidebar">
                        <ul>
                            <li><a th:href="@{/e-student/tai-khoan-cua-toi}" th:class="${act == 'home'} ? 'active' : ''">Trang chủ</a></li>
                            <li><a th:href="@{/e-student/khoa-hoc}" th:class="${act == 'courses'} ? 'active' : ''">Khóa học của tôi</a></li>
                            <li><a th:href="@{/dang-xuat}">Đăng xuất</a></li>
                        </ul>
                    </nav>
                    
                    <div th:replace="~{${fragment}}"></div>
                  
                </div>
            </div>
            <div class="eh-footer">
                <div class="r-content"></div>
            </div>
        </div>
    </div>
</body>

</html>