
<div class="content">
	<div class="eh-school-title">Tài liệu</div>
	<div class="search">
		<form action="">
			<div class="form-group">
				<div class="label">Học phần</div>
				<div class="input">
					<input type="text" autofocus name="" id=""
						placeholder="Tìm kiếm theo tên hoặc mã học phần...">
				</div>
			</div>
			<div class="form-group">
				<div class="input">
					<input class="btn btn-primary" type="submit" name="" id=""
						value="Tìm kiếm">
				</div>
			</div>
		</form>
	</div>
	<div class="eh-school-title">Danh sách</div>
	<div class="list-document">
		<table cellspacing="0">
			<thead>
				<tr>
					<th class="stt">STT</th>
					<th class="module">Học phần</th>
					<th>Tên tài liệu</th>
					<th class="act">Xem trước</th>
					<th class="act">Tải về</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="stt">1</td>
					<td class="module">Học phần Lorem ipsum dolor sit, amet
						consectetur adipisicing, elit. Hic, tempora!</td>
					<td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
						Ipsum odit aspernatur cumque maxime inventore eligendi,
						necessitatibus consequatur ducimus fugit, repellat.</td>
					<td class="act"><a href="" class="btn btn-view"> <i
							class="fa-solid fa-eye"></i>
					</a></td>
					<td class="act"><a href="" class="btn"> <i
							class="fa-solid fa-download"></i>
					</a></td>
				</tr>
				<tr>
					<td class="stt">1</td>
					<td class="module">Học phần Lorem ipsum dolor sit, amet
						consectetur adipisicing, elit. Hic, tempora!</td>
					<td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
						Ipsum odit aspernatur cumque maxime inventore eligendi,
						necessitatibus consequatur ducimus fugit, repellat.</td>
					<td class="act"><a href="" class="btn btn-view"> <i
							class="fa-solid fa-eye"></i>
					</a></td>
					<td class="act"><a href="" class="btn"> <i
							class="fa-solid fa-download"></i>
					</a></td>
				</tr>
				<tr>
					<td class="stt">1</td>
					<td class="module">Học phần Lorem ipsum dolor sit, amet
						consectetur adipisicing, elit. Hic, tempora!</td>
					<td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
						Ipsum odit aspernatur cumque maxime inventore eligendi,
						necessitatibus consequatur ducimus fugit, repellat.</td>
					<td class="act"><a href="" class="btn btn-view"> <i
							class="fa-solid fa-eye"></i>
					</a></td>
					<td class="act"><a href="" class="btn"> <i
							class="fa-solid fa-download"></i>
					</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>