#tableLecturerListTp_wrapper {
	font-size: var(--text-size14);
	background: white;
	padding: 10px 0;
	
}

#tableLecturerListTp_wrapper #tableLecturerListTp{
	border:1px solid var(--bg-silver);
}

#tableLecturerListTp_wrapper #tableLecturerListTp tr th{
	font-size: 15px;
	font-weight: 600;
	background: var(--primary-color);
	color: white;
	padding: 10px;
	text-align: left;
}

#tableLecturerListTp_wrapper #tableLecturerListTp tr td{
	padding: 7px 10px;
}

#tableLecturerTP_filter, #tableLecturerTP_length, #tableLecturerTP_info{
	width: 100%;
	text-align: left;
	padding: 5px 0;	
	font-size: var(--text-size14);
}

#tableLecturerTP_filter input[type='search']{
	width: 50%;
}

.list-ltp {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
}

.list-ltp .tp-item {
    width: 280px;
    padding: 5px;
    border: 1px solid var(--bg-silver);
    margin: 3px 1px;
    height: 330px;
}

.list-ltp .tp-item .tp-img {
    overflow: hidden;
    border-radius: 5px;
    height: 180px;
}

.list-ltp .tp-item img {
    width: 80%;
    height: 100%;
    transition: all .5s ease;
    cursor: zoom-in;
    display: block;
    margin: auto;
}

.tp-item .tp-name {
    display: -webkit-box;
    margin-bottom: 4px;
    overflow: hidden;
    font-size: var(--text-size14);
    line-height: normal;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-top: 5px;
}

.tp-item .tp-cohort , .tp-level{
	font-size: var(--text-size14);
	padding: 3px 0;
}

.tp-item .tp-button a {
    font-size: var(--text-size14);
    width: fit-content;
}

.tp-item .tp-button {
    padding: 10px 0;
    text-align: right;
}

.list-ltp .tp-item:hover img {
    scale: 1.5;
}

.tp-item small{
	color: #A5B5B5;
}



button.slick-arrow{
	position: absolute;
	top: 50%;
	z-index: 20;
	border: none;
	transform: translateY(-50%);
	background: transparent;
}

button.slick-arrow i{
	font-size: 30px;
	color: var(--primary-color);
}

.list-ltp button.slick-arrow i:hover{
	color: #3fa941;
}

.list-ltp button.btn-slick-prev{
	left: 0!important;
}

.list-ltp button.btn-slick-next{
	right:0!important;
}

ul.slick-dots {
	display: block;
	text-align:center;
}

.slick-dots li{
	display: inline-block;
	padding: 5px;
}

.slick-dots button{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid var(--bg-silver);
	cursor: pointer;
}

.slick-dots li.slick-active button{
	background: var(--primary-color);
	color: white;
}

#tableLecturerListTp tr .stt{
	width: 5%;
	text-align:center;
}

#tableLecturerListTp tr .act{
	width: 7%;
	text-align: center!important;
}

#tableLecturerListTp_wrapper .dataTables_length{
	padding: 5px 0;
}

#tableLecturerTP{
	font-size: var(--text-size14);
}

#tableLecturerTP thead tr{
	background: var(--primary-color);
	color: white;
}

#tableLecturerTP a.btn{
	padding: 5px 20px;
}