.eh-ctdt{
	display: flex;
}

.ctdt-menu{
	width: 20%;
	background: white;
}

.ctdt-form{
	margin-left: 5px;
	width: calc(80% - 5px);
	background: white;
}

.ctdt-menu ul li{
	margin: 20px 0;
}

.ctdt-menu ul li a{
	font-size: var(--text-size13);
	display: flex;
	padding-left: 20px;
	align-items: center;
	color: black;
}

.ctdt-menu ul li a .i{
	border-radius: 50%;
	padding: 2px 6px;
	background: white;
	text-align: center;
	background: silver;
	margin-right: 5px;
	color: black;
}

.i.active{
	background: var(--primary-color)!important;
	color: white!important;
}

.i.active + div{
	border-bottom: 1px solid var(--primary-color);
	color: green;
}

.ctdt-content-first{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background: white;
}

.ctdt-content-first form{
	width: 100%;
}

.ctdt-content-first input{
	padding: 8px 20px;
	width: 80%;
	border-radius: 5px;
}

.ctdt-form .form-group .label{
	width: 210px;
}

.ctdt-form .form-group .input{
	width: calc(100% - 125px);
}

.ctdt-form .form-group .input input{
	width: 90%;
}

.ctdt-form .form-group .input select{
	width: 35%;
	border-radius: 5px;
	border: 1px solid #eee;
}

.sub{
	display: flex;
	justify-content: space-between;
}

.sub .btn{
	width: fit-content!important;
	padding: 8px 10px;
	font-size: var(--text-size13);
}


/* MỤC TIÊU ĐÀO TẠO */
.i-2 .form-content{
	padding: 5px 10px;
}
.mtdt, .ttdt{
	display: flex;
	font-size: var(--text-size14);
	margin-bottom: 5px;
}

.mtdt div, .ttdt div{
	margin-top: 10px;
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid silver;
}

.mtdt div:first-child, .ttdt div{
	margin-right: 1px;
}

.mtdt div:last-child, .ttdt div:last-child{
	flex-grow: 1;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid silver;
	
}

 .mtdt div:last-child, .ttdt div:last-child{
	border-bottom-left-radius: 0!important;
	border-bottom-right-radius: 0!important;
}

.mtdt .remove-bottom, .ttdt .remove-bottom{
	border-bottom: none;
	background: white!important;
	border-bottom-left-radius: 0!important;
	border-bottom-right-radius: 0!important;
}

.mtdt-c-textarea, .mtdt-ct-textarea{
	margin-top: 5px;
}

.ttdt-tts .form-group .input {
	position: relative;
}

.ttdt-tts .form-group .input input{
	width: 84%;
}

.ttdt-tts .sub-input{
	position: absolute;
	right: 100px;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	background: var(--primary-color);
	width: 80px;
	justify-content: center;
	font-size: var(--text-size14);
	color: white;
}

.i, .form-content, .ttdt div{
	transition: all .5s ease;
}

.i-6 .form-group .btn{
	width: 180px;
	background: var(--primary-color);
	color: white;
}

.i-6 .form-group input{
	width: 50%;
}

.box-knowledge-base{
	padding: 10px 20px;
	font-size: var(--text-size14);
}

.sub-knowledge-container{
	padding: 10px 40px;
}

.knowledge-parent button{
	padding: 3px 6px;
	border: none;
	border-radius: 5px;
	background: var(--primary-color);
	color: white;
}

.knowledge-parent button i, .sub-knowledge i{
	font-size: var(--text-size10);
}

.sub-knowledge i{
	color: var(--primary-color);
}

.semester{
	display: flex;
	padding: 10px 10px;
	font-size: var(--text-size14);
}

.semester-item{
	flex-basis: calc(100% / 8);
	margin: 0 3px;
	padding: 5px;
	text-align: center;
}

.semester-item.semester-active{
	border-bottom: 2px solid var(--primary-color);
}

.semester-body table{
	width: 100%;
	font-size: var(--text-size14);
	border-color: var(--bg-silver);
}

.semester-body table tr th, .semester-body table tr td{
	padding: 5px 10px;
	text-align: center;
}

.semester-body table tr th{
	background: var(--bg-silver);
}

.btn-previous{
	background: var(--btn-previous);
	color: #F2F2F2;
}

.btn-previous:active{
	background: var(--primary-color);
}

.btn-next:active{
	background: #589C22;
}

.btn-previous:disabled, .btn-next:disabled{
	background: silver;
}
.btn-next{
	background: var(--primary-color);
	color: white;
}


.ttdt [class^="ttdt-"], .mtdt .mt {
  background: var(--bg-silver);
}

.semester ~ p{
	padding: 10px;
}

.ctdt-form .ctdt-button{
	text-align: right;
}

.ctdt-form .btn-add{
	background: #589C22;
}

.s-table form button{
	width: 160px;
}

.s-table form select{
	padding: 8px 20px;
	border-radius: 4px;
	border: none;
}

.s-table form select option{
	font-size: 16px;
	background: white;
	color: black;
}



/* LIST TRAINING PROGRAM */

.list-training-program input.input-search-tp{
	padding: 8px 10px; width: 100%;
}


.list-tp .row-tp{
	display: flex;
	flex-wrap: wrap;
	background: white;
	padding: 10px 0;
}

.list-tp .row-tp .tp-item{
	width: calc(100% / 5);
	padding: 10px;
	border: 1px solid var(--bg-silver);
	transition: all .5s ease;
	font-size: 14px;
	color: black;
	min-height: 270px;
}

.list-tp .tp-item .tp-item-image img{
	width: 80%;
	display: block;
	margin: auto;
	filter: drop-shadow(3px 3px var(--primary-color));
}

.list-tp .tp-item-image {
	margin: 0 0 10px 0;
}

.list-tp .row-tp .tp-item:hover{
	border: 1px solid silver;
}

.tp-item-name{
    display: -webkit-box;
    margin-bottom: 4px;
    overflow: hidden;
    font-size: 14px;
    line-height: normal;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.tp-item-status .status{
	color: var(--primary-color);
}

.slick-arrow{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
	width: fit-content;
	border-radius: 50px;

	border: 1px solid var(--bg-silver);
	background: var(--primary-color);
	color: white;
}



.slick-arrow i{
	font-size: 40px;
	border-radius: 50%;
	transition: all .5s ease;
}

.slick-arrow:hover i{
	background: white;
	color: var(--primary-color);
}

/* .slick-dots{
	padding: 5px;
	width: 100%;
	display: flex;
	justify-content: center;
} */

/* .slick-dots li button{
	border-radius: 50%;
	padding: 5px 10px;
	border: none;
	border: 1px solid silver;
	transition: all .5s linear;
	background: white;
	color: black;
	margin: 0 2px;
} */
/* .slick-dots .slick-active button{
	background: var(--primary-color);
	color: white;
	border: none;
	padding: 6px 11px;
} */

.modal-mk {
	position: absolute;
	z-index:50;
	top: 10vh;
	width: 50vw;
	height: 80vh;
	background: var(--primary-color);
	display: block;
	right: -100%;
	transition: right 1s ease;
	border: 1px solid var(--primary-color);
}
.modal-mk.active{
	right:0;
}

.modal-mk .list h1{
	font-size: 16px;
	text-transform: uppercase;
	color: white;
	font-weight: normal;
	padding: 10px 20px;
}

.modal-mk .add-module-knowledgearea{
	height: 100%;
}

.modal-mk .list{
	height: calc(100% - 50px);
}

.modal-mk .list form {
	height: 88%;
	
}

.modal-mk .list form .table-container{
	width: 100%;
	overflow: auto;
	max-height: 96%;
	height: 95%;
}

.modal-mk .list form table{
	width: 100%;
	text-align: left;
	padding: 5px 20px;
	font-size: 14px;
}

.modal-mk .list form table tr th{
	font-weight: 100;
	padding: 7px 10px;
	font-size: 14px;
}

.modal-mk .list form table caption{
	font-size: 17px;
	text-transform: uppercase;
}

.modal-mk .list form table tr td{

	padding: 5px 10px;
}

.modal-mk .list form table tr th.stt{
	width: 5%;
}

.modal-mk .list form table tr{
		border: 1px solid white;
		color: white;
}

.modal-mk .list form table tr th{
	color: black;
	
} 

.modal-mk .list form table tr th.cb{
	width: 3%;
}

.modal-mk .list form table tr.first-row{
	background: white;
}

.modal-mk .list form table tr .avt{
	width: 15%;
}

.modal-mk .list form table tr .avt img{
	width: 100%;
	height: 60px;
	border-radius: 5px;
}

.modal-mk .list form table tr:nth-child(2n+2){
	background: #41c445;
}

.modal-mk .list form .btn{
	background: var(--secornd-color);
	color: white;
	margin-top: 2%;
	margin-left: 2%;
	width: fit-content;
}

.modal-mk .list form .btn:hover{
	background: var(--primary-color);
	border: 1px solid white;
}
.knowledge-parent span{
	display: inline-block;
	width: 500px;
	font-size: 15px;
	padding: 5px;
	border-bottom: 1px solid var(--primary-color);
	
}
.sub-knowledge{
	padding: 3px;
}
.sub-knowledge .delete{
	padding: 0 10px;
}

.sub-knowledge .delete i{
	color: red;
}

.s-table caption{
	padding: 10px;
	font-size: 16px;
}

#tableListTp tr .rate-of-progress{
	width: 6%!important;
	text-align: center;
}
#tableListTp tr .status{
	width: 12% !important;
	text-align: center;
}

.list-training-program table{
	width: 100%;
	background: white;
	font-size: 14px;
	cursor: default;
}

.list-training-program table tr th{
	font-weight: 100;
	padding: 10px;
	text-align: left;
	background: var(--primary-color);
	color: white;
}

.list-training-program table tr td{
	padding: 5px 10px;
		border: 1px solid var(--bg-silver);
}

.list-training-program table tr .stt, .list-training-program table tr .act{
	width: 5%;
	text-align: center;
}

.list-tp{
	background: white;
	padding: 10px 0;
}

.list-tp #tableListTp_wrapper{
	font-size: 14px;
}

.list-tp .dataTables_length{
	padding: 5px 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
	transition: all .3s ease;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
	background: var(--primary-color)!important;
    color: white !important;
     border-color:  var(--bg-silver)!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:focus{
	border-color:  red!important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover{
	background: none !important;
}


.content-ctdt{
	max-height: 80vh;
	overflow-y: auto;
}

.box-ctdt{
	padding: 10px 20px;
	 font-size: var(--text-size14);
}

.box-ctdt .menu{
	line-height: 25px;
}

.box-ctdt .sub-menu{
	padding: 0 25px;
}

.box-ctdt .sub-menu li{
	list-style-type: disc
}

.content-ctdt .eh-header-title.sub{
	color: white!important;
	border-bottom: 1px solid var(--primary-color);
	background: var(--primary-color);
}

.box-ctdt div[id^="CONTENT"] {
  padding: 0 20px;
  font-size: var(--text-size14);
}

.content-ctdt{
	scroll-behavior: smooth;
}

.view-file ul{
	width: 50%;
	padding: 20px 0;
}

.view-file ul li{
	background: var(--primary-color);
	color: white;
	margin: 5px;
}

.view-file ul li.name{
	background: none;
	padding: 10px 20px;
	color: black;
	border-bottom: 1px solid var(--primary-color);
}

.view-file ul li a{
	padding: 10px 50px;
	display:block;
	color: white;
}