<div class="eh-footer" th:fragment="footer">
	<div class="footer">
		<div class="r-content">
			<div class="title">Quản lý chương trình đào tạo trong trường
				học</div>
			<div class="list">
				<div class="col">
					<div class="logo">
						<a th:href="@{'/'}"> <img src="/img/eduhub.png">
						</a>
					</div>
					<div>
						<h3 class="title">Chương trình Đào tạo</h3>
					</div>
					<p>Hệ thống quản lý chương trình đào tạo cung cấp thông tin đầy
						đủ về các chương trình đào tạo, bao gồm thông tin chung, mục tiêu,
						chuẩn đầu ra, cơ hội nghề nghiệp, và nội dung chương trình.</p>
				</div>
				<div class="col" style="padding-top: 150px;">
					<div>
						<h3 class="title">Chương trình Đào tạo</h3>
					</div>
					<div class="links">
						<ul>
							<li><a th:href="@{'/'}">Trang chủ</a></li>
							<li><a th:href="@{'/gioi-thieu'}">Giới thiệu</a></li>
							<li><a th:href="@{'/trang-chu#lien-he'}">Liên hệ</a></li>
						</ul>
					</div>
				</div>
				<div class="col" style="padding-top: 150px;">
					<div>
						<h3 class="title">Thông tin website</h3>
					</div>
					<div class="info">
						<p>
							<a href="mailto: eduhub.contact2024@gmail.com">Email:
								eduhub.contact2024@gmail.com</a>
						</p>
						<p>Địa chỉ: Số 41A đường Phú Diễn, Q. Bắc Từ Liêm, TP. Hà Nội</p>
					</div>
				</div>
			</div>
			<div class="coppyright">@2024 EduHub</div>
		</div>
	</div>
</div>