
<div class="right-body">

	<div class="body-content r-content">

		<div class="eh-header-title">Quản lý tài khoản</div>

		<div class="lecturer-account">
			<form method="post" th:action="@{'/school-lecturer/' +${domain} + '/quan-ly-tai-khoan/cap-nhat' }"
			th:object="${user}" enctype="multipart/form-data">

				<div class="left">
					<div id="image-container">
						<input type="file" name="newAvt" style="display: none;"> 
						<a href="" class="errorLoadImg" style="display: none;">Hiển thị
							lại ảnh</a> 
						<img id="uploaded-image" th:src="@{'/img/lecturer/' + ${user.avt} }" alt="Avatar"
							onerror="handleImageError(this)"> 
						<a id="image-link"
							href="#" onclick="chooseImage(this,'newAvt')"> <i
							class="fa-solid fa-camera"></i>
						</a>
					</div>
				</div>
				<div class="right">
				<div class="eh-header-title sub">Thông tin tài khoản</div>
				<div class="form-group">
						<div class="label">Tên tài khoản</div>
						<div class="input">
							<input type="text" readonly="readonly" th:field="*{userName}">
						</div>
					</div>
					<div class="form-group">
						<div class="label">Tên đăng nhập</div>
						<div class="input">
							<input type="text" readonly="readonly" th:field="*{email}">
						</div>
					</div>
					<div class="form-group">
						<div class="label">Email nhận thông báo</div>
						<div class="input">
							<input type="text" value="Tên đăng nhập" th:field="*{receiveMail}">
						</div>
					</div>
					<div class="form-group">
			
						<div class="input">
							<input type="submit" class="btn btn-primary" value="Cập nhật">
						</div>
					</div>
				</div>

			</form>
		</div>

	</div>

</div>

<script type="text/javascript"
		src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" th:src="@{/js/sweetalert2.all.min.js}"></script>
<script th:if="${param.updated}" th:inline="javascript">

	 document.addEventListener('DOMContentLoaded', function() {
		 setTimeout( ()=>{
			
			const Toast =  Swal.mixin({
				
				  toast: true,
				  position: "top-end",
				  showConfirmButton: false,
				  timer: 1800,
				  timerProgressBar: true,
				  didOpen: (toast) => {
				    toast.onmouseenter = Swal.stopTimer;
				    toast.onmouseleave = Swal.resumeTimer;
				  }
				});
				 Toast.fire({
				  icon: "success",
				  title: "Cập nhật thành công"
				});
				
				/* await location.reload() */
				
			}, 800)
/* 			history.replaceState(null, document.title, location.href); */
	    });
</script>
