
<div class="right-body">
	<div class="body-content r-content">
		<div class="replace">
			<div class="career-major">
				<div class="eh-header-title">Ngành / Chuyên Ngành</div>
				<div class="career-major-content">
					<div class="cm-left">
						<div class="button">
							<a onclick="changeCM(this)" data-cm="career"
								class="btn btn-primary active" href="" th:text="${actIndustry} + ' ngành đào tạo'">Thêm ngành đào tạo</a> <a
								onclick="changeCM(this)" data-cm="major" class="btn btn-primary"
								href=""  th:text="${actMajor} + ' chuyên ngành đào tạo'">Thêm chuyên ngành đào tạo</a>
						</div>
					</div>
					<div class="cm-right">
						<div class="career-major-form">
							<input type="hidden" name="actionof" id="cmAction" th:value="${cmAction}">
							<div class="cm-box career-form">
								<div class="eh-header-title sub"  th:text="${actIndustry} + ' Ngành đào tạo'">Thêm Ngành Đào Tạo</div>
								<form th:action="@{'/s-admin/' + ${domain} + '/nganh-chuyen-nganh/luu-nganh'}" method="post" th:object="${industry}">
									<input type="hidden" name="" id="" th:field="*{id}">
									<div class="form-group">
										<div class="label">Mã ngành đào tạo:</div>
										<div class="input">
											<input type="text" name="" id=""
												placeholder="Nhập mã ngành đào tạo" th:field="*{industryCode}">
										</div>
									</div>
									<div class="form-group">
										<div class="label">Tên ngành đào tạo:</div>
										<div class="input">
											<input type="text" name="" id="" th:field="*{industryName}"
												placeholder="Nhập tên ngành đào tạo">
										</div>
									</div>
									<div class="form-group">
										<div class="input">
											<input type="submit" value="Lưu" class="btn btn-primary">
										</div>
									</div>
								</form>
								<a th:href="@{'/s-admin/' +${domain} + '/nganh-chuyen-nganh/danh-sach?cm=career'}" class="btn">Xem danh sách</a>
							</div>
							<div class="cm-box major-form hidden">
								<form th:action="@{'/s-admin/' + ${domain} + '/nganh-chuyen-nganh/luu-chuyen-nganh'}" method="post" th:object="${major}">
									<div class="eh-header-title sub" th:text="${actMajor} + ' Chuyên Ngành đào tạo'">Thêm Chuyên Ngành Đào
										Tạo</div>
									<input type="hidden" name="" id="" th:field="*{id}">
									<div class="form-group">
										<div class="label">Mã chuyên ngành đào tạo:</div>
										<div class="input">
											<input type="text" name="" id=""
												placeholder="Tên chương trình" th:field="*{majorCode}" required>
										</div>
									</div>
									<div class="form-group">
										<div class="label">Ngành đào tạo:</div>
										<div class="input">
											<select name="" id=""  th:field="*{idIndustry}">
												
												<option th:selected="*{idIndustry} == ${idt.id}" th:each="idt : ${industries}" th:value="${idt.id}" th:text="${idt.industryName}"></option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<div class="label">Tên ngành đào tạo:</div>
										<div class="input">
											<input type="text" name="" id=""
												placeholder="Tên chương trình"  th:field="*{majorName}" required>
										</div>
									</div>
									<div class="form-group">
										<div class="input">
											<input type="submit" value="Lưu" class="btn btn-primary">
										</div>
									</div>
								</form>
								<a th:href="@{'/s-admin/' +${domain} + '/nganh-chuyen-nganh/danh-sach?cm=major'}" class="btn">Xem danh sách</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>