<div class="right-body">
	<div class="body-content r-content">
		<div class="faculty-assignment">

			<div class="eh-header-title">Tên chương trình đào tạo</div>

			<div class="rate-of-progress">
				Tiến độ <span>90</span><span>/</span><span>100</span>
			</div>
			<div>

				<table id="facultyAssignment">

					<thead>
						<tr>
							<th class="stt">STT</th>
							<th>Tên học phần</th>

							<th>Đề cương</th>
							<th>Tài liệu</th>
							<th class="lecturer">Giảng viên phụ trách</th>
							<th class="status">Trạng thái</th>
							<th class="act">Thao tác</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>STT</td>
							<td>Tên học phần</td>

							<td>Đề cương</td>
							<td>Tài liệu</td>
							<td>Nguyễn Nguyễn Văn A</td>
							<td class="status"><i class="fa-solid fa-check"></i></td>
							<td class="act"><a class="btn btn-primary"
								title="Gửi thông báo nhắc nhở"> <i class="fa-solid fa-bell"></i>
							</a></td>
						</tr>
						<tr>
							<td>STT</td>
							<td>Tên học phần</td>

							<td>Đề cương</td>
							<td>Tài liệu</td>
							<td><a href="">Mời</a></td>
							<td class="status"><i class="fa-solid fa-xmark"></i></td>
							<td class="act"><a class="btn btn-primary"
								title="Gửi thông báo nhắc nhở"> <i class="fa-solid fa-bell"></i>
							</a></td>
						</tr>
					</tbody>
				</table>

			</div>

		</div>
	</div>

</div>