<div class="right-body lecturer-school">
	<div class="body-content r-content">
		<div class="lecturer-school-content">
			<div class="left">
				<div class="eh-header-title sub">Tao tai khoan</div>
				<form action="">
					<p class="text-center text-alert"></p>
					<div class="form-group">
						<div class="label">Họ & tên</div>
						<div class="input">
							<input type="text" placeholder="Nhập tên" id="name"
								oninput="convertToSlug(this)"> <br>
							<p class="text-error"></p>
						</div>
					</div>
					<div class="form-group">
						<div class="label">Tên đăng nhập</div>
						<div class="input">
							<input type="text" id="slug" placeholder="Email đăng nhập"
								maxlength="30" readonly> <br>
							<p class="text-error"></p>
						</div>
					</div>
					<div class="form-group">
						<div class="label">Gửi tới</div>
						<div class="input">
							<input type="text" placeholder="Địa chỉ email nhận" id="email">
							<br>
							<p class="text-error"></p>
						</div>
					</div>
					<div class="form-group">

						<div class="label">
							<input onclick="validateForm(this)" class="btn btn-primary"
								type="submit">
						</div>
					</div>
				</form>
			</div>
			<div class="right">
				<div class="eh-header-title sub">Danh sach tai khoan</div>
				<div class="table-container">
					<table>
						<tr>
							<th class="stt">STT</th>
							<th class="avt"></th>
							<th class="name">Họ tên</th>
							<th class="email">Tên tài khoản</th>
							<th class="act" colspan="">Thao tác</th>
						</tr>
						<tr>
							<td>1</td>
							<td><img src="" alt=""></td>
							<td>Nguyễn Văn A</td>
							<td>trieuanhtuan.eduhub@hunre.edu.vn</td>
							<td><a href="" class="btn btn-primary"
								title="Đặt lại mật khẩu"> <i class="fa-solid fa-rotate"></i>
							</a></td>
						</tr>
						<tr>
							<td>1</td>
							<td><img src="" alt=""></td>
							<td>Nguyễn Văn A</td>
							<td>trieuanhtuan.eduhub@hunre.edu.vn</td>
							<td><a href="" class="btn btn-primary"
								title="Đặt lại mật khẩu"> <i class="fa-solid fa-rotate"></i>
							</a></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>