<div class="right-body">
	<div class="body-content r-content">
		<div class="syllabus">
			<div class="eh-header-title">Đề cương học phần</div>
			<th:block th:if="${act == 'add'}">
				<div class="eh-header-title sub">Thêm Đề Cương</div>
				<form th:action="@{'/school-admin/'+${domain} + '/de-cuong/luu'}"
					method="post" th:object="${syllabus}" enctype="multipart/form-data">
					<div class="form-group">
						<div class="label">Học phần:</div>
						<div class="input">
							<select name="" id="" th:field="*{idModule}">
								<option th:each="m : ${module}" th:value="${m.id}"
									th:text=" 'Học phần: ' + ${m.name} + ' (' + ${m.code}+ ') / CN: ' + ${m.majorName}">Học
									Phần 1</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="label">Tên đề cương:</div>
						<div class="input">
							<input type="text" name="" th:field="*{name}"
								placeholder="Nhập tên đề cương">
						</div>
					</div>
					<div class="form-group">
						<div class="label">File:</div>
						<div class="input">
							<input type="file" style="background: white" name="syllabusfile"
								accept="application/msword, application/vnd.ms-powerpoint,text/plain, application/pdf"
								onchange="checkFileExtension(this)">
						</div>
					</div>
					<div class="form-group">
						<div class="input">
							<input type="submit" value="Lưu" class="btn btn-primary">
						</div>
					</div>
				</form>
			</th:block>
			<th:block th:if="${act == 'search'}">
				<br>
				<a th:href="@{'/school-admin/' + ${domain} + '/de-cuong/them-moi'}"
					class="btn btn-primary">Thêm mới</a>
			</th:block>
			<div class="eh-header-title sub">Tìm kiếm</div>
			<div id="danh-sach">
				<form onsubmit="beforeSubmitSearchForm(this)"
					th:action="@{'/school-admin/' +${domain} + '/de-cuong/tim-kiem'}"
					method="get">

					<div class="form-group">

						<div class="label">Học phần:</div>

						<div class="input">
							<select name="idModule" id="idModule">
								<option value="0">Bạn chưa chọn học phần</option>
								<option th:each="m : ${module}" th:value="${m.id}"
									th:text=" 'Học phần: ' + ${m.name} + ' (' + ${m.code}+ ') / CN: ' + ${m.majorName}">Học
									Phần 1</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<div class="label">Tìm theo:</div>
						<div class="input">
							<input type="text" name="keyword"
								placeholder="Tìm theo mã hoặc tên học phần">
						</div>

					</div>
					<div class="form-group">
						<div class="input">
							<input type="submit" value="Tìm kiếm" class="btn btn-primary">
						</div>
					</div>
				</form>

				<th:block th:if="${length <= 0 && act == 'search'}">
					<p class="text-center">Không tìm thấy kết quả</p>
				</th:block>
				<th:block th:if="${length > 0 && act == 'search'}">
					<div class="eh-header-title">Danh sách</div>
					<table>
						<tr>
							<th class="stt">STT</th>
							<th>Tên đề cương</th>
							<th>Mã học phần</th>
							<th>Học phần</th>
							<th class="act" colspan="2">Thao tác</th>
						</tr>
						<tr th:each="s,i : ${listSearch}">
							<td th:text="${i.count}">STT</td>
							<td th:text="${s.name}">File</td>
							<td th:text="${s.module.code}">Mã học phần</td>
							<td th:text="${s.module.name}">Học phần</td>
							<td><a onclick="previewFile(this)"
								th:href="@{'/file/syllabus/lecturer/' + ${domain} + '/' + ${s.fileName}}"
								target="_blank">Xem trước</a></td>
							<td><a
								th:href="@{'/file/syllabus/lecturer/' + ${domain} + '/' + ${s.fileName}}"
								target="_blank" download>Tải về</a></td>
						</tr>

					</table>
					<div class="page">
						<ul>
							<li th:if="${totalPages >= 1}"
								th:each="pageNumber : ${#numbers.sequence(1, totalPages)}"
								th:unless="${pageNumber == 0}"><a
								th:href="${pageNumber == page} ? '#!' : @{'/school-admin/' + ${domain} + '/de-cuong/tim-kiem?page=' + ${pageNumber} + '&key=' + ${key} + '&idModule=' + ${idModule} }"
								th:text="${pageNumber}"
								th:class="${pageNumber == page} ? 'page-active' : ''"></a></li>
						</ul>
					</div>
				</th:block>
			</div>
		</div>
	</div>
</div>

	<script th:if="${param.failed}" th:inline="javascript">
		
document.addEventListener('DOMContentLoaded', function() {
	setTimeout(()=>{
		const Toast = Swal.mixin({
			  toast: true,
			  position: "top-end",
			  showConfirmButton: false,
			  timer: 1800,
			  timerProgressBar: true,
			  didOpen: (toast) => {
			    toast.onmouseenter = Swal.stopTimer;
			    toast.onmouseleave = Swal.resumeTimer;
			  }
			});
			Toast.fire({
			  icon: "error",
			  title: "Đã xảy ra lỗi!"
			});
		}, 800)
    });
	</script>
	
		<script th:if="${param.added}" th:inline="javascript">
		
document.addEventListener('DOMContentLoaded', function() {
	setTimeout(()=>{
		const Toast = Swal.mixin({
			  toast: true,
			  position: "top-end",
			  showConfirmButton: false,
			  timer: 1800,
			  timerProgressBar: true,
			  didOpen: (toast) => {
			    toast.onmouseenter = Swal.stopTimer;
			    toast.onmouseleave = Swal.resumeTimer;
			  }
			});
			Toast.fire({
			  icon: "success",
			  title: "Đã thêm thành công"
			});
		}, 800)
    });
	</script>