<div class="right-body">
	<div class="body-content r-content">
		<div class="replace">
			<div class="ctdt-content">
				<div class="eh-header-title" th:text="${tp.name}">Chương trình
					đào tạo</div>
				<div class="eh-ctdt">
					<div class="ctdt-menu">
						<ul>
							<li><a href="#THONG-TIN-CHUNG">
									<div class="i active i1">1</div>
									<div>Thông tin chung</div>
							</a></li>
							<li><a href="#MUC-TIEU-DAO-TAO">
									<div class="i i2">2</div>
									<div>Mục tiêu đào tạo</div>
							</a></li>
							<li><a href="#CHUAN-DAU-RA">
									<div class="i i3">3</div>
									<div>Chuẩn đầu ra</div>
							</a></li>
							<li><a href="#CO-HOI-NGHE-NGHIEP">
									<div class="i i4">4</div>
									<div>Cơ hội nghề nghiệp</div>
							</a></li>
							<li><a href="#THONG-TIN-DAO-TAO">
									<div class="i i5">5</div>
									<div>Thông tin đào tạo</div>
							</a></li>
							<li><a href="#NOI-DUNG-CHUONG-TRINH">
									<div class="i i6">6</div>
									<div>Nội dung chương trình</div>
							</a></li>
							<li><a href="#PHAN-PHOI-MON-HOC">
									<div class="i i7">7</div>
									<div>Phân phối môn học</div>
							</a></li>
							<li><a th:href="@{'/school-admin/' + ${domain} + '/chuong-trinh-dao-tao/chinh-sua?id='+ ${tp.id}}">
									<i class="fa-solid fa-pen-nib"></i> &nbsp;
									<div>Sửa</div>
							</a></li>
							<li><a th:href="@{'/school-admin/' +${domain} + '/chuong-trinh-dao-tao/danh-sach' }">
									<i class="fa-solid fa-list"></i> &nbsp;
									<div>Danh sách</div>
							</a></li>
						</ul>
					</div>
					<div class="ctdt-form content-ctdt">
						<div class="eh-header-title sub" id="THONG-TIN-CHUNG">Thông
							tin chung</div>
						<div class="box-ctdt">
							<div class="form-content-body">
								<div class="form-group">
									<div class="label">Tên chương trình:</div>
									<div class="input">
										<input type="text" name="name" th:field="${tp.name}" id=""
											placeholder="Nhập tên chương trình đào tạo..."
											readonly="readonly">
									</div>
								</div>
								<div class="form-group">
									<div class="label">Trình độ đào tạo:</div>
									<div class="input">
										<th:block th:if="${tp.level == 'level_undergraduate'}">
											<input type="text" value="Đại học" readonly="readonly">
										</th:block>
										<th:block th:if="${tp.level == 'level_master_degree'}">
											<input type="text" value="Thạc sĩ" readonly="readonly">
										</th:block>
										<th:block th:if="${tp.level == 'level_doctorate'}">
											<input type="text" value="Tiến sĩ" readonly="readonly">
										</th:block>
									</div>
								</div>
								<div class="form-group">
									<div class="label">Chuyên ngành đào tạo:</div>
									<div class="input">
										<input type="text" th:field="${tp.major.majorName}"
											readonly="readonly">
									</div>
								</div>
								<div class="form-group">
									<div class="label">Loại hình, hình thức đào tạo:</div>
									<div class="input">
										<th:block th:if="${tp.type == 'type_work_study'}">
											<input type="text" value="Vừa học vừa làm"
												readonly="readonly">
										</th:block>
										<th:block th:if="${tp.type == 'type_regular'}">
											<input type="text" value="Chính quy" readonly="readonly">
										</th:block>
										<th:block th:if="${tp.type == 'type_online_learning'}">
											<input type="text" value="Đào tạo từ xa" readonly="readonly">
										</th:block>
									</div>
								</div>
								<div class="form-group">
									<div class="label">Khóa đào tạo:</div>
									<div class="input">
										<input type="text" placeholder="Nhập khóa đào tạo..."
											th:field="${tp.cohort}" readonly="readonly">
									</div>
								</div>
							</div>
						</div>
						<div class="eh-header-title sub" id="MUC-TIEU-DAO-TAO">Mục
							tiêu đào tạo</div>
						<div class="box-ctdt">
							<div class="eh-header-title sub2">Mục tiêu chung</div>
							<textarea th:text="${tp.generalObjective}" id="TXT-MUCTIEUCHUNG"></textarea>
							<div id="CONTENT-MUCTIEUCHUNG"></div>
						</div>
						<div class="box-ctdt">
							<div class="eh-header-title sub2">Mục tiêu cụ thể</div>
							<textarea th:text="${tp.specificObjective}" id="TXT-MUCTIEUCUTHE"></textarea>
							<div id="CONTENT-MUCTIEUCUTHE"></div>
						</div>
						<div class="eh-header-title sub" id="CHUAN-DAU-RA">
							Chuẩn đầu ra
						</div>
						<div class="box-ctdt">
							<textarea th:text="${tp.outputStandards}" id="TXT-CHUANDAURA"></textarea>
							<div id="CONTENT-CHUANDAURA"></div>
						</div>
						<div class="eh-header-title sub" id="CO-HOI-NGHE-NGHIEP">
							Cơ hội nghề nghiệp
						</div>
						<div class="box-ctdt">
							<textarea th:text="${tp.jobProspects}" id="TXT-COHOINGHENGHIEP"></textarea>
							<div id="CONTENT-COHOINGHENGHIEP"></div>
						</div>
						<div class="eh-header-title sub" id="THONG-TIN-DAO-TAO">
							Thông tin đào tạo</div>
						<div class="box-ctdt">
							<div class="eh-header-title sub2">Thông tin</div>
							<div class="ttdt-o ttdt-tts">
								<div class="form-group">
									<div class="label">Thời gian đào tạo:</div>
									<div class="input">
										<input th:field="${tp.duration}" type="text" name="" id=""
											readonly="readonly">
										<div class="sub-input">Năm</div>
									</div>
								</div>
								<div class="form-group">
									<div class="label">Số học kỳ:</div>
									<div class="input">
										<input th:field="${tp.numberOfSemesters}" readonly="readonly">
										<div class="sub-input">Học kỳ</div>
									</div>
								</div>
								<div class="form-group">
									<div class="label">Tổng số tín chỉ:</div>
									<div class="input">
										<input th:field="${tp.totalCredits}" readonly="readonly">
										<div class="sub-input">Tín chỉ</div>
									</div>
								</div>
							</div>
						</div>
						<div class="box-ctdt">
							<div class="eh-header-title sub2">Đối tượng tuyển sinh</div>
							<textarea th:text="${tp.targetApplicants}" id="TXT-DOITUONGTUYENSINH"></textarea>
							<div id="CONTENT-DOITUONGTUYENSINH"></div>
						</div>
						<div class="box-ctdt">
							<div class="eh-header-title sub2">Quy trình đào tạo</div>
							<textarea th:text="${tp.process}" id="TXT-QUYTRINHDAOTAO"></textarea>
							<div id="CONTENT-QUYTRINHDAOTAO"></div>
						</div>
						<div class="box-ctdt">
							<div class="eh-header-title sub2">Đối tượng tốt nghiệp</div>
							<textarea th:text="${tp.graduatingCohort}" id="TXT-DOITUONGTOTNGHIEP"></textarea>
							<div id="CONTENT-DOITUONGTOTNGHIEP"></div>
						</div>
						<div class="eh-header-title sub" id="NOI-DUNG-CHUONG-TRINH">
							Nội dung chương trình
						</div>
						<div class="box-ctdt">
							<ul class="menu">
								<li th:each=" tpc: ${tp.programContents}">
									<p th:text=" '- ' + ${tpc.knowledgeArea}"></p>
									<ul class="sub-menu">
										<li th:each="km : ${tpc.knowledgeModules}" th:text="${km.modules.name}"></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>