<div class="eh-body eh-sign">
	<div class="sign r-content">
		<div class="sign-form">
			<div class="sign-title">Đăng Ký</div>
			<div class="social">
				<ul>
					<li><a href=""><i class="fa-brands fa-google"></i></a></li>
					<li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
				</ul>
				<p>hoặc đăng ký với</p>
			</div>
			<div class="form-content">
				<form th:action="@{/dang-ky}" method="POST" th:object="${user}">
					<p class="text-center text-alert"></p>
					<p th:if="${param.success}"
						class="text-center text-alert alert-success">Đăng ký thành
						công</p>
					<p th:if="${param.error}"
						class="text-center text-alert alert-error">Đăng ký thất bại</p>
					<div class="form-group">
						<div class="label">Họ và Tên</div>
						<div class="input">
							<input type="text" name="username" id="name"
								th:field="*{userName}" autofocus="autofocus"> <br>
							<p class="text-error"></p>
						</div>
					</div>
					<div class="form-group">
						<div class="label">Email</div>
						<div class="input">
							<input type="text" name="email" id="email" th:field="*{email}">
							<br>
							<p class="text-error"></p>
						</div>
					</div>
					<div class="form-group">
						<div class="label">Mật khẩu</div>
						<div class="input">
							<input type="password" name="password" id="pass"
								th:field="*{passwords}"> <br>
							<p class="text-error"></p>
							<button type="button" class="to-text pointer"
								onclick="inputPasswordToText(this)">
								<i class="fa-regular fa-eye open"></i> <i
									class="fa-solid fa-eye-slash close"></i>
							</button>
						</div>
					</div>
					<div class="form-group">
						<div class="label">Xác nhận mật khẩu</div>
						<div class="input">
							<input type="password" name="repass" id="repass"> <br>
							<p class="text-error"></p>
							<button type="button" class="to-text pointer"
								onclick="inputPasswordToText(this)">
								<i class="fa-regular fa-eye open"></i> <i
									class="fa-solid fa-eye-slash close"></i>
							</button>
						</div>
					</div>
					<div class="form-group">
						<div class="input">
							<input type="submit" onclick="validateForm(this)"
								class="btn btn-primary" name="" id="" value="Đăng Ký">
						</div>
					</div>
				</form>
			</div>
			<div class="other">
				<p>
					<span>Đăng ký tài khoản quản lý?</span>&nbsp;<span><a
						th:href="@{/dang-ky/quan-ly}">Đăng ký</a></span>
				</p>
				<p>
					<span>Bạn đã có tài khoản?</span>&nbsp;<span><a
						th:href="@{/dang-nhap}">Đăng nhập</a></span>
				</p>

				<p>
					<span>Đăng ký sau</span>&nbsp;<span><a th:href="@{/}">Trang
							chủ</a></span>
				</p>
			</div>
		</div>
	</div>
</div>