<div class="eh-body eh-sign">
	<div class="sign r-content">
		<div class="sign-form sign-in">
			<div class="sign-title">Đăng Nhập</div>
			<div class="social">
				<ul>
					<li><a href="/oauth2/authorization/google"><i class="fa-brands fa-google"></i></a></li>
					<li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
				</ul>
				<p>hoặc đăng nhập với</p>
			</div>
			<div class="form-content">
				<form th:action="@{/dang-nhap}" method="POST">
					<p class="text-center text-alert"></p>
					<p th:if="${param.error}" class="text-center text-alert alert-error">
						Sai tên đăng nhập hoặc mật khẩu
					</p>
					<div class="form-group">
						<div class="label">Email</div>
						<div class="input">
							<input type="email" name="username" id="email" autofocus="autofocus"> <br>
							<p class="text-error"></p>
						</div>
					</div>
					<div class="form-group">
						<div class="label">Mật khẩu</div>
						<div class="input">
							<input type="password" name="password" id="pass"> <br>
							<p class="text-error"></p>
							<button type="button" class="to-text pointer"
								onclick="inputPasswordToText(this)">
								<i class="fa-regular fa-eye open"></i> <i
									class="fa-solid fa-eye-slash close"></i>
							</button>


						</div>
					</div>
					<div class="form-group">
						<div class="input">
							<input type="submit" class="btn btn-primary" name="" id=""
								value="Đăng Nhập" onclick="validateForm(this)">
						</div>
					</div>
				</form>
			</div>
			<div class="other">
				<p>
					<span>Chưa có tài khoản?</span>&nbsp;<span><a th:href="@{/dang-ky}">Đăng
							ký</a></span>
				</p>
				<p>
					<span>Đăng nhập sau</span>&nbsp;<span><a th:href="@{/}">Trang
							chủ</a></span>
				</p>
			</div>
		</div>
	</div>
</div>