<div class="right-body admin-statistics">
	<div class="body-content r-content">

		<div class="eh-header-title">Trang Chủ</div>

		<div class="list">
			<div class="item">
				<div class="logo-number">
					<div class="image-logo">
						<img src="/img/s_budget.png">
					</div>
					<div class="number">10</div>
				</div>
				<div class="name">Tổng tiền nhận</div>
				<div class="tar">
					<a th:href="@{'/eh-admin/doanh-thu'}" class="t-d txt14">Xem</a>
				</div>
			</div>
			<div class="item">
				<div class="logo-number">
					<div class="image-logo">
						<img src="/img/s_money.png">
					</div>
					<div class="number">10</div>
				</div>
				<div class="name">Doanh thu</div>
				<div class="tar">
					<a th:href="@{'/eh-admin/doanh-thu'}" class="t-d txt14">Xem</a>
				</div>
			</div>
			<div class="item">
				<div class="logo-number">
					<div class="image-logo">
						<img src="/img/s_transfer.png">
					</div>
					<div class="number">10</div>
				</div>
				<div class="name">Đã trả giảng viên</div>
				<div class="tar">
					<a th:href="@{'/eh-admin/doanh-thu'}" class="t-d txt14">Xem</a>
				</div>
			</div>
			<div class="item">
				<div class="logo-number">
					<div class="image-logo">
						<img src="/img/s_money_wsend.png">
					</div>
					<div class="number">10</div>
				</div>
				<div class="name">Chưa trả giảng viên</div>
				<div class="tar">
					<a th:href="@{'/eh-admin/doanh-thu'}" class="t-d txt14">Xem</a>
				</div>
			</div>
		</div>

		<div class="list">


			<div class="item">
				<div class="logo-number">
					<div class="image-logo">
						<img src="/img/s_school.png">
					</div>
					<div class="number">10</div>
				</div>
				<div class="name">Trường học</div>
				<div class="tar">
					<a th:href="@{'/eh-admin/truong-hoc/danh-sach'}" class="t-d txt14">Xem</a>
				</div>
			</div>

			<div class="item">
				<div class="logo-number">
					<div class="image-logo">
						<img src="/img/s_lecturer.png">
					</div>
					<div class="number">10</div>
				</div>
				<div class="name">Giảng viên</div>
				<div class="tar">
					<a th:href="@{'/eh-admin/giang-vien/danh-sach'}" class="t-d txt14">Xem</a>
				</div>
			</div>

			<div class="item">
				<div class="logo-number">
					<div class="image-logo">
						<img src="/img/s_student.png">
					</div>
					<div class="number">10</div>
				</div>
				<div class="name">Học viên, người dùng</div>
				<div class="tar">
					<a th:href="@{'/eh-admin/hoc-vien-nguoi-dung/danh-sach'}"
						class="t-d txt14">Xem</a>
				</div>
			</div>

			<div class="item">
				<div class="logo-number">
					<div class="image-logo">
						<img src="/img/s_courses.png">
					</div>
					<div class="number">10</div>
				</div>
				<div class="name">Khóa học</div>
				<div class="tar">
					<a th:href="@{'/eh-admin/khoa-hoc/danh-sach'}" class="t-d txt14">Xem</a>
				</div>
			</div>
		</div>

		<div>
			<a class="btn btn-view txt14" th:href="@{/}">Trang chủ Website</a>
		</div>
	</div>
</div>