.lecturer-header {
	position: sticky;
	top: 64px;
	z-index: 90;
}

.lecturer-header .content {
	background-color: #f2f2f2;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
}

.lecturer-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.lecturer-nav ul li {
	display: inline;
	margin-right: 10px;
	padding: 3px 0;
}

.lecturer-nav ul li.active {
	border-bottom: 2px solid var(--primary-color);
}

.lecturer-nav ul li a {
	text-decoration: none;
	color: #333;
}

.hero {
	background-color: #f9f9f9;
	text-align: center;
	padding: 50px;
}

.hero h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

.hero p {
	font-size: 18px;
	color: #555;
	margin-bottom: 30px;
}

.cta-button {
	display: inline-block;
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 5px;
}

.featured-courses {
	padding: 50px;
	text-align: center;
}

.featured-courses h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

.list-courses {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.list-courses a {
	color: black;
}

.course {
	display: inline-block;
	margin: 20px;
	max-width: 300px;
	text-align: left;
	border: 1px solid var(--bg-silver);
	border-radius: 5px;
	padding: 20px;
	transition: all .3s ease;
	height: 390px;
	position: relative;
	overflow: hidden;
}

.course:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	transform: scale(1.02);
}

.course img {
	width: 260px;
	height: 180px;
	margin-bottom: 10px;
	border: 1px solid var(--bg-silver);
	padding: 10px;
	border-radius: 5px;
}

.course h3.title {
	display: -webkit-box;
	margin-bottom: 4px;
	overflow: hidden;
	font-size: 16px;
	line-height: normal;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.course p.total-students {
	font-size: 14px;
}

.course p.total-lesson {
	padding: 5px 0;
}

.course .button-status {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	color: white;
	display: flex;
	justify-content: space-between;
}

.course .button-status a:not(.btn) {
	display: none;
}

.course .button-status p {
	padding: 10px;
	border-top-left-radius: 5px;
}

.course .button-status .btn {
	padding: 10px 20px;
	border-radius: 0 5px 0 0;
}

.course .button-status .btn {
	margin: 0;
	width: fit-content;
}

.course.on_ready:hover {
	box-shadow: 0 0 10px var(--primary-color);
}

.course.not_ready:hover {
	box-shadow: 0 0 10px var(--color-warning);
}

.course.in_progress:hover {
	box-shadow: 0 0 10px #1AEB32;
}

.course .button-status .status.on_ready {
	background-color: #1AEB32;
}

.course .button-status .status.not_ready {
	background-color: var(--color-warning);
}

.course .button-status .status.in_progress {
	background-color: var(--primary-color);
}

.course p.short-description {
	display: -webkit-box;
	margin-bottom: 4px;
	overflow: hidden;
	font-size: 14px;
	line-height: normal;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.course .type {
	text-align: right;
}

.course .type p {
	padding: 2px 0;
}

.course .type .text {
	text-transform: uppercase;
}

.course .type .newPrice {
	font-size: 15px;
	font-weight: bold;
}

.course .type .oldPrice {
	color: red;
}

#payment-fields {
	opacity: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
	transition: all 0.3s ease;
}

#payment-fields.visible {
	opacity: 1;
	height: auto;
}

.add-courses {
	padding: 50px;
}

.add-courses form .form-group {
	padding: 10px 25px;
}

.add-courses form .form-group .label {
	width: 120px;
}

.add-courses form .form-group .input {
	width: 100%;
}

.add-courses form .form-group .input input:not(.btn) {
	width: 70%;
	border: 1px solid var(--bg-silver);
	transition: all .3s ease;
	background-color: white;
}

.add-courses form .form-group .input input:not(.btn):hover, .add-courses form .form-group .input input:not(.btn):focus
	{
	border: 1px solid var(--primary-color);
}

.add-courses form .form-group .input select {
	padding: 10px 30px;
}

.add-courses form .form-group .input select option {
	font-size: 20px;
}

.add-courses form .message {
	font-size: 18px;
	padding: 10px 25px;
}

.add-courses form .input input.btn {
	width: 200px;
	padding: 10px 0;
	margin: auto;
}

.add-courses {
	position: relative;
}

.add-courses form .image-choosed {
	position: absolute;
	right: 0;
	top: 5%;
}

.add-courses form .image-choosed img {
	width: 300px;
	height: 300px;
	padding: 10px;
	border-radius: 5px;
	padding: 10px;
	border: 1px solid silver;
}

.ck-restricted-editing_mode_standard {
	height: 300px;
}

/* INFO */
.courses-info .info-row {
	display: flex;
}

.info-row {
	/* border-bottom: 1px solid silver; */
	
}

.info-row .left {
	width: 30%;
}

.info-row .left .box img {
	width: 300px;
	height: 200px;
	border-radius: 5px;
}

.info-row .right {
	width: 70%;
	text-align: left;
	padding: 0 20px;
}

.info-row .right div {
	padding-bottom: 8px;
}

.info-row .right .name {
	font-size: 22px;
}

.info-row .right .button {
	padding: 10px 0;
}

.info-row .right .button .btn {
	margin: 0;
	transition: all .3s ease;
	border: 1px solid var(--bg-silver);
}

.info-row .right .button a.btn:hover {
	color: black;
	background: white;
	border: 1px solid var(--primary-color);
}

.info-row .right .type {
	text-transform: uppercase;
	font-size: 16px;
}

.info-row .right .price {
	font-size: 16px;
	padding-bottom: 0px;
}

.info-row .right del {
	color: red;
}

.list-lesson .category-lesson .item {
	width: 100%;
	margin: 1px;
}

.list-lesson .category-lesson .item .content-list .content{
	display :flex;
	padding:10px 50px;
	border-bottom: 1px solid var(--bg-silver);
}

.list-lesson .category-lesson .item .content-list .content .stt{
	padding: 0 10px;
}

.list-lesson .category-lesson .item .content-list .content .name{
	font-size: var(--text-size14);
}

.list-lesson .category-lesson .item .content-list .content .right .btn{
	padding: 5px 10px;
	margin: 0;
}

.list-lesson .category-lesson .item .content-list.hide{
	display: none;
}

.r-content.list-lesson{
	padding: 20px 0;
}

.list-lesson .category-lesson .item .header {
	display: flex;
	padding: 10px 20px;
	width: 100%;
	justify-content: space-between;
		background: var(--bg-silver);
	border: 1px solid rgb(225, 222, 222);
	border-radius: 3px;
	cursor: pointer;
}

.list-lesson .category-lesson .item .left {
	display: flex;
}

.list-lesson .category-lesson .item .right {
	text-align: right;
}

.list-lesson .category-lesson .item .icon {
	padding: 0 20px;
}

.list-lesson .category-lesson .item .icon.up i.down{
	display: none;
}

.list-lesson .category-lesson .item .icon.up i.up{
	display: block;
}


.list-lesson .category-lesson .item .icon i.up {
	display: none;
}

.list-lesson .category-lesson .item .icon i {
	font-size: 20px;
	color: var(--primary-color);
}

.list-lesson .category-lesson .item .name {
	font-size: 16px;
}

/* INFO */

/* ADD LESSON */
.add-lesson form .form-group .label {
	width: 125px;
	text-align: left;
}

.add-lesson form .form-group .input {
	width: 100%;
	text-align: left;
}

.add-lesson form .form-group .input input:not(.btn) {
	width: 80%;
	background-color: white;
	border: 1px solid var(--bg-silver);
	border-bottom-color: var(--primary-color);
	transition: all .3s ease;
}

.add-lesson form .form-group .input input:hover, .add-lesson form .form-group .input input:focus
	{
	border-color: var(--primary-color);
}

.add-lesson form .form-group .input input[type='file'] {
	width: fit-content;
}

.add-lesson form .form-group .input input.btn {
	margin: 0;
	width: fit-content;
}

.add-lesson select option{
	font-size: 16px;
}
/* ADD LESSON */
.lesson-container {
	text-align: center;
	padding: 20px;
}

.lesson-container .lesson .content video {
	width: 80%;
	height: 550px;
}

.lesson-container .lesson .content .info {
	text-align: left;
	padding: 5px 20px;
	line-height: 25px;
}

.lesson-container .lesson .content .info .title {
	font-size: 20px;
}

.lesson-container .lesson .content .video .button {
	display: flex;
	justify-content: space-between;
	padding: 5px 20px;
}

.add-lesson form {
	position: relative;
}

.editExistVideo {
	position: absolute;
	top: 0;
	right: 0;
}

.editExistVideo video {
	width: 400px;
	height: fit-content;
}

/* VIEW LESSON */
.view-lesson .title{
	font-size: 25px;
	padding: 10px 0;
	text-align: center;
	text-transform: uppercase;
}

.view-lesson .box-view video{
	width: 90%;
	display: block;
	margin: auto;
}

.view-lesson .lesson-name{
	text-align: center;
	padding: 10px;
	font-size: 18px;
	text-transform: uppercase;
}

.view-lesson .content{
	padding: 5px 50px;
	line-height: 22px;
}

.view-lesson .button{
	padding: 5px 50px 10px;	
	display: flex;
	justify-content: space-between;
}

.view-lesson .button .btn-previous{
	padding: 8px 20px;
	background: var(--color-warning);
	color: white;
}

.view-lesson .button .not-allowed{
	background: silver;
}

/* VIEW LESSON */

/* HOME PAGE */
.statistics {
	padding: 50px 20px;
}

.statistics .list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.statistics .list .item {
	border: 2px solid silver;
	border-radius: 5px;
	margin: 10px;
	padding: 10px 20px;
	text-align: center;
	transition: all .3s ease;
	width: 200px;
	cursor: pointer;
	overflow: hidden;
}

.statistics .list .item:hover {
	border-color: var(--primary-color);
}

.statistics .list .item:hover img {
	scale: 1.15;
}

.statistics .list .item .content img {
	width: 100px;
	height: 100px;
	transition: all .3s ease;
}

.statistics .list .item .content .title {
	text-transform: uppercase;
	padding: 5px;
}

.statistics .list .item .content .value {
	font-size: 20px;
}

.new-student {
	padding: 50px;
	background: #f9f9f9;
}

.new-student .list {
	height: 300px;
	border: 1px solid red;
	overflow-y: auto;
	background: white;
}

.new-student .title {
	font-size: 18px;
	text-transform: uppercase;
	padding: 20px 0;
}

.new-student .list table {
	width: 100%;
}

.new-student .list table tr th {
	padding: 10px 20px;
	background: var(--primary-color);
	color: white;
	text-transform: uppercase;
	text-align: left;
}

.new-student .list table tr td {
	padding: 5px 20px;
	background: white;
}

.new-student .list table tr .stt {
	width: 5%;
	text-align: center;
}

.new-student .list table tr .name {
	width: 20%;
}

/* .new-student .list table tr .courses{
    width: 35%;
} */
.new-student .list table tr .time {
	width: 10%;
}

.new-student .list table tr .view {
	width: 5%;
}

.certificate {
	background: white;
}

.category-lesson {
	display: flex;
}

.list-lesson .category-lesson{
	display: block;
}

.category-lesson .left {
	width: 40%;
}

.category-lesson .left .label {
	width: 100px;
}

.category-lesson .left .input, .category-lesson .left .input input:not(.btn)
	{
	width: 100%;
	font-size: var(--text-size14);
}

.category-lesson .left .input input.btn {
	margin: 0;
}

.category-lesson .title {
	font-size: 18px;
	text-align: center;
	padding: 20px;
}

.category-lesson .right {
	width: 60%;
}

.title-courses {
	font-size: 25px;
	text-align: center;
	padding: 15px;
}

.category-lesson .right table {
	width: 100%;
}

.category-lesson .right table tr th {
	padding: 10px 20px;
	background: var(--primary-color);
	color: white;
	text-align: left;
}

.category-lesson .right table tr td {
	padding: 5px 20px;
	border: 0 1px 1px 1px;
	border-style: solid;
	border-color: var(--bg-silver);
}

.category-lesson .right table tr .stt {
	text-align: center;
	width: 5%;
}

.category-lesson .right table tr .ttht {
	width: 20%;
}

.category-lesson .table-container {
	
}
/* HOME PAGE */